.contact-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(
    -225deg,
    #3700b3 0%,
    #562b7c 52%,
    #bb86fc 100%
  );
  gap: 3rem;
  perspective: 1000px;
}

.contact-container {
  position: relative;
  background-color: #344252;
  border-radius: 0.5rem;
  padding: 2rem;
  width: 45rem;
  height: 20rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  will-change: transform;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  transform: rotateY(-20deg);
}

.contact-icon {
  position: absolute;
  top: 35%;
  left: 10%;
  width: 10rem;
  border-radius: 1rem;
}

.contact-info-title {
  display: flex;
  flex-direction: column;
  position: relative;
  color: #bb86fc;
  font-size: 1.5rem;
  font-weight: bold;
  font-family: "IBM Plex Sans", sans-serif;
}

.contact-info-title:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 25px;
  height: 4px;
  background: #ff2483;
}

.contact-info-group {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 90%;
}

.contact-form {
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 50%;
}

.contact-title {
  font-family: "Bebas Neue", sans-serif;
  font-size: 2rem;
  letter-spacing: 2px;
  color: #fffff3;
}

.contact-form input,
textarea {
  width: 80%;
  font-size: 1.5rem;
  color: #fffff3;
  border: none;
  padding: 1rem;
  background: transparent;
  border-bottom: 1px solid #fffff3;

  transition: all 1s;
}

.contact-form label {
  font-size: 1.2rem;
  letter-spacing: 1px;
  color: #fffff3;
}

.contact-submit-btn {
  box-sizing: border-box;
  position: relative;
  font-family: "Bebas Neue", sans-serif;
  padding: 0.5rem 1rem 0.5rem 1rem;
  color: #bb86fc;
  background-color: transparent;
  font-size: 1.5rem;
  border: none;
  transition: all 0.5s;
}

.contact-submit-btn:hover {
  color: #ff2483;
}

.email {
  font-size: 1rem;
  color: #bb86fc;
  font-family: "IBM Plex Sans", sans-serif;
}

.map-container {
  height: fit-content;
  width: fit-content;
  overflow: hidden;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

@media screen and (max-width: 1100px) {
  .contact-info-title {
    display: none;
  }

  .contact-info-group {
    display: none;
  }

  .contact-container {
    margin-top: 5rem;
    width: 90%;
    transform: none;
  }

  .contact-form {
    width: 95%;
  }

  .contact-form input,
  textarea {
    font-size: 1.2rem;
  }

  .email {
    font-size: 1.2rem;
  }
}
