.contact-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact-wrapper {
  perspective: 1000px;
  gap: 3rem;
}

.contact-form-container {
  position: relative;
  background-image: linear-gradient(315deg, #000000e0 0%, #878888 74%);
  border-radius: 0.5rem;
  gap: 1rem;
  padding: 2rem;
  width: 50%;
  max-width: 45rem;
  height: 40%;
  max-height: 30rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  box-shadow: rgba(0, 0, 0, 1) 1px 1px 2px;
}

.contact-icon {
  align-self: center;
  width: 5rem;
}

.contact-info-title {
  display: flex;
  position: relative;
  color: var(--bright);
  font-size: 1.5rem;
  font-weight: bold;
}

.contact-info-title:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 100%;
  height: 4px;
  background: var(--bright);
}

.contact-info-group {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 90%;
}

.contact-form {
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 50%;
}

.contact-title {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  letter-spacing: 2px;
  color: #ffff;
}

.contact-form input,
textarea {
  width: 80%;
  font-size: 1.5rem;
  color: #ffff;
  border: none;
  padding: 1rem;
  background: transparent;
  border-bottom: 1px solid #ffff;

  transition: all 1s;
}

.contact-submit-btn {
  box-sizing: border-box;
  position: relative;
  font-family: "Montserrat", serif;
  padding: 0.5rem 1rem 0.5rem 1rem;
  color: #ffff;
  background-color: transparent;
  font-size: 1.5rem;
  border: none;
  cursor: pointer;
  transition: all 0.5s;
}

.contact-submit-btn:hover {
  color: var(--bright);
}

.email {
  font-size: 1.5rem;
  color: #ffff;
}

.map-container {
  height: fit-content;
  width: fit-content;
  margin-bottom: 2rem;
  overflow: hidden;
  border-radius: 1rem;
}

.contact-page-content-enter {
  opacity: 0;
  transform: translateX(30%);
}
.contact-page-content-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: all 1s;
}

@media screen and (max-width: 1300px) {
  .contact-wrapper {
    margin-left: 0;
  }

  .contact-info-title {
    display: none;
  }

  .contact-info-group {
    display: none;
  }

  .contact-form-container {
    margin-top: 5rem;
    width: 90%;
    transform: none;
  }

  .contact-form {
    width: 100%;
  }

  .contact-form input,
  textarea {
    font-size: 1.2rem;
  }

  .email {
    font-size: 1.2rem;
  }
}
