.main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-image: linear-gradient(
    -225deg,
    #3700b3 0%,
    #562b7c 52%,
    #bb86fc 100%
  );

  cursor:default;
}

.main-page-content-enter {
  opacity: 0;
  transform: translateX(40%);
}
.main-page-content-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: all 1s;
}

.main-content-container {
  box-sizing: border-box;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.small-title {
  width: 100%;
  font-family: "Roboto Slab", serif;
  letter-spacing: 2px;
  color: #ffffff;
  opacity: 0.87;
  font-size: 1.5rem;
  text-align: center;
}

.small-title span {
  color: var(--pink);
}

.main-title {
  width: 100%;
  font-family: "Roboto Slab", serif;
  letter-spacing: 2px;
  color: #ffffff;
  opacity: 0.87;
  font-size: 3rem;
  text-align: center;
}

.main-title span {
  color: var(--pink);
}

.main-title-group {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.main-content {
  color: #ffffff;
  opacity: 0.87;
  font-size: 1.3rem;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 700;
  letter-spacing: 2px;
  width: 30%;
  text-align: center;
}

.main-content span {
  color: var(--pink);
}

@media screen and (max-width: 1100px) {
  .main-content-container {
    margin-bottom: 5rem;
    margin-top: 5rem;
  }
  .main-content {
    width: 90%;
  }

  .main-title {
    font-size: 1.5rem;
  }

  .main-content {
    font-size: 1.1rem;
  }

  .stack li {
    font-size: 1.5rem;
  }
}

.sign {
  display: inline-block;
  background-image: radial-gradient(
    ellipse 50% 35% at 50% 50%,
    #6b1839,
    transparent
  );
  letter-spacing: 2;
  left: 50%;
  top: 50%;
  text-transform: uppercase;
  font-size: 3rem;
  color: #ffe6ff;
  text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd,
    -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd,
    0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
  animation: shine 2s forwards, flicker 3s infinite;
}

@keyframes blink {
  0%,
  22%,
  36%,
  75% {
    color: #ffe6ff;
    text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd,
      -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd,
      0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
  }
  28%,
  33% {
    color: #ff65bd;
    text-shadow: none;
  }
  82%,
  97% {
    color: #ff2483;
    text-shadow: none;
  }
}

.flicker {
  animation: shine 2s forwards, blink 3s 2s infinite;
}

.fast-flicker {
  animation: shine 2s forwards, blink 10s 1s infinite;
}

@keyframes shine {
  0% {
    color: #6b1839;
    text-shadow: none;
  }
  100% {
    color: #ffe6ff;
    text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd,
      -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd,
      0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
  }
}

@keyframes flicker {
  from {
    opacity: 1;
  }

  4% {
    opacity: 0.9;
  }

  6% {
    opacity: 0.85;
  }

  8% {
    opacity: 0.95;
  }

  10% {
    opacity: 0.9;
  }

  11% {
    opacity: 0.922;
  }

  12% {
    opacity: 0.9;
  }

  14% {
    opacity: 0.95;
  }

  16% {
    opacity: 0.98;
  }

  17% {
    opacity: 0.9;
  }

  19% {
    opacity: 0.93;
  }

  20% {
    opacity: 0.99;
  }

  24% {
    opacity: 1;
  }

  26% {
    opacity: 0.94;
  }

  28% {
    opacity: 0.98;
  }

  37% {
    opacity: 0.93;
  }

  38% {
    opacity: 0.5;
  }

  39% {
    opacity: 0.96;
  }

  42% {
    opacity: 1;
  }

  44% {
    opacity: 0.97;
  }

  46% {
    opacity: 0.94;
  }

  56% {
    opacity: 0.9;
  }

  58% {
    opacity: 0.9;
  }

  60% {
    opacity: 0.99;
  }

  68% {
    opacity: 1;
  }

  70% {
    opacity: 0.9;
  }

  72% {
    opacity: 0.95;
  }

  93% {
    opacity: 0.93;
  }

  95% {
    opacity: 0.95;
  }

  97% {
    opacity: 0.93;
  }

  to {
    opacity: 1;
  }
}

