.main-section {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  cursor: default;
}

.main-content-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-texts-container {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  width: 60%;
  height: 50%;
}

.backgroundParticles {
  overflow: hidden;
}

.main-title {
  color: #ffff;
  font-size: 1.5rem;
}

.main-subtitle {
  color: #ffff;
  font-family: "Montserrat", serif;
  font-weight: 900;
  font-size: 5rem;
  line-height: 1;
}

.main-text {
  color: #ffff;
  font-size: 1.5rem;
}

.main-text span {
  color: var(--bright);
}

@media screen and (max-width: 1300px) {
  .main-texts-container {
    width: 95%;
  }
  .main-text {
    font-size: 1.5rem;
  }

  .main-subtitle {
    font-size: 3rem;
  }
}
