.skills-section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-image: linear-gradient(
    -225deg,
    #3700b3 0%,
    #562b7c 52%,
    #bb86fc 100%
  );

  transform-style: preserve-3d;
  perspective: 1000px;

  overflow: hidden;
}

.skills-text-container {
  box-sizing: border-box;
  width: 40%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.skills-title {
  font-family: "Roboto Slab", serif;
  letter-spacing: 2px;
  color: #ffffff;
  opacity: 0.87;
  font-size: 1.7rem;
  text-align: center;
  width: 90%;
}

.skills-text {
  color: #ffffff;
  opacity: 0.7;
  font-size: 1.3rem;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 700;
  letter-spacing: 2px;
  text-align: center;
}

.skills-page-content-enter {
  opacity: 0;
  transform: translateX(40%);
}
.skills-page-content-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: all 1s;
}

.skills-text span {
  color: var(--pink);
}

.skills-content-container {
  box-sizing: border-box;
  width: 50%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;

  transform-style: preserve-3d;
}
.logo {
  width: 4rem;
  position: absolute;
  top: 2rem;
  left: 2rem;
}

.box {
  box-sizing: border-box;
  position: relative;
  list-style-type: none;
  padding: 1rem;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  perspective: 1000px;
}

.box li {
  position: relative;
  width: 8rem;
  height: 8rem;
  margin: 1rem;
  transition: all 2s ease-in-out;
  transform-style: preserve-3d;
  animation: rotate 5s ease-in-out 2s;
  border-radius: 50%;
  background-image: linear-gradient(to right, #eea2a2 0%, #bbc1bf 19%, #57c6e1 42%, #b49fda 79%, #7ac5d8 100%);
}

.box li:hover {
  transform:rotateY(180deg) rotateX(360deg);
}

.cube__face {
  background-color: transparent;
  position: absolute;
  width: 8rem;
  height: 8rem;
  border-radius: .5rem;
  border: 1px solid var(--pink);
  
}

.cube__face--front {
  transform: rotateY(0deg) translateZ(4rem);
  display: grid;
  place-items: center;
}
.cube__face--right {
  transform: rotateY(90deg) translateZ(4rem);
  display: grid;
  place-items: center;
}
.cube__face--back {
  transform: rotateY(180deg) translateZ(4rem);
  display: grid;
  place-items: center;
}
.cube__face--left {
  transform: rotateY(-90deg) translateZ(4rem);
  display: grid;
  place-items: center;
}
.cube__face--top {
  transform: rotateX(90deg) translateZ(4rem);
  display: grid;
  place-items: center;
}
.cube__face--bottom {
  transform: rotateX(-90deg) translateZ(4rem);
  display: grid;
  place-items: center;
}

@media screen and (max-width: 1000px) {
  .skills-text-container {
    width: 90%;
  }

  .skills-text {
    width: 100%;
    font-size: 1.1rem;
  }

  .skills-title {
    margin-top: 5rem;
    width: 80%;
    font-size: 1.5rem;
  }

  .skills-content-container {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
  }

  .box {
    grid-template-columns: 1fr 1fr;
    width: 100%;
    padding: 0;
  }

  .box li {
    margin-bottom: 2rem;
  }
}
