body {
  overflow-x: hidden;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  line-height: 1.75;
}

:root {
  --darkest: #1a1a40;
  --blue: #270082;
  --violet: #7a0bc0;
  --pink: #fa58b6;
}

.page-section {
  overflow-x: hidden;
  box-sizing: border-box;
  width: 100vw;
  min-height: 100vh;
}
